/*importa a fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
    scroll-behavior: smooth;
}

:root{
    --cor:  #000199;
    --cor1: #0002F1;
    --cor2: #989898;
    --cor3: #D5D5D5;
    --cor4: #F1F1F1;
}

body{
    background-color: var(--cor4);
}

/* ===== Página inicial -> Alex ===== */


/*Barra de pesquisa*/

div.pesquisa{
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}

div.pesquisa > input{
    width: 100%;
    border-radius: 20px;
    color: var(--cor2);
    border: none;
    background-color: white;
    padding: 20px;
}

div.pesquisa > img{
    position: absolute;
    top: 20px;
    right: 20px;
}

/*Resto do corpo principal*/

main{
    padding: 20px;
}
main > h1{
    color: var(--cor1);
    font-size: 1em;
    margin-top: 5px;
}

main > h2{
    color: var(--cor1);
    font-weight: 300;
    font-size: medium;
    margin-bottom: 10px;
}


/*Os cards de informações que eu não nomear*/
.info{
    display: flex;
    gap: 20px;
}

.card{
    background-color: white;
    padding: 15px;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 15px;
}

.card > h2{
    color: var(--cor1);
    font-weight: 300;
    font-size: 2.1em;
}

.card > p{
    font-size: 0.7em;
    margin-top: -5px;
}

/*Linha branca*/
.linhabranca{
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 30px;
}

/*Botoes gigantes*/
.botoesprincipais{
    margin-top: 30px;
}

.botoes{
    background-color: white;
    width: 100%;
    height: 65px;
    margin-top: 35px;
    text-align: center;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px var(--cor3);
}

.botoes a{
    text-decoration: none;
}

/*Botoes pequenos*/
.botoesduplo{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
}

.botoesd{
    background-color: white;
    width: 100%;
    height: 65px;
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 2px 2px 1px var(--cor3);
}

.botoesd a {
    text-decoration: none;
}



/* ===== página de clientes -> Isabella =====*/

/* main */
.clientes .title h1 {
    color: var(--cor1);
    font-size: 1em;
    margin-top: 5px;
}

.clientes .title {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.clientes .title button {
    background-color: var(--cor);
    color: white;
    padding: 6px;
    border: none;
    border-radius: 20px;
}

.clientes {
    display: flex;
    flex-direction: column;
    gap: 10px;    
}

.cliente-card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    border: 2px solid var(--cor3);
}

.cliente-card .nome {
    font-size: 14px;
}

.cliente-card .infos, .cliente-veiculos .placa, .cliente-servicos .veiculo {
    font-size: 12px;
    color: #72777f;
}

.cliente-card .ver, .cliente-servicos .verServico {
    margin-top: 12px;
    font-size: 12px;
    color: var(--cor1);
    width: fit-content;
}

/* tela de detalhes do cliente */
.detalhes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.detalhes .voltar {
    margin-right: auto;
    font-size: 18px;
    font-weight: 500;
    border: none;
    color: var(--cor1);
}

.detalhes .voltar:hover, .cliente-card .ver:hover {
    text-decoration: underline;
    cursor: pointer;
}

.detalhes .voltar:active, .cliente-card .ver:active {
    text-decoration: underline;
    cursor: pointer;
    color: var(--cor);
}

.cliente-detalhes {
    position: relative;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    background-color: white;
    padding: 10px;
    border: 2px solid var(--cor3);
}

.cliente-veiculos {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    background-color: white;
    padding: 10px;
    border: 2px solid var(--cor3);
}

.cliente-servicos {
    margin-top: 6px;
    margin-bottom: 6px;
    position: relative;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    background-color: white;
    padding: 10px;
    border: 2px solid var(--cor3);
}

.cliente-servicos .servico-n {
    font-size: 14px;
    color: #72777f;
}

.cliente-detalhes .infos {
    font-size: 12px;
    color: #72777f;
}

.cliente-detalhes button {
    font-size: 12px;
    background-color: var(--cor4);
    border-radius: 10px;
    border: 2px solid var(--cor3);
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 6px;
    width: fit-content;
}

.cliente-detalhes a {
    color: var(--cor1);
    font-size: 10px;
    margin-top: 10px;
}

.cliente-servicos .status {
    border-radius: 20px;
    background-color: #d5d5ff;
    color: var(--cor1);
    text-align: center;
    width: fit-content;
    padding: 2px 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.cliente-servicos .preco {
    position: absolute;
    font-size: 16px;
    color: var(--cor1);
    top: 44px;
    right: 12px;
}

.orcamento {
    background-color: var(--cor);
    color: white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

#id h4 {
    font-weight: 500;
    color: var(--cor1);
}

.hide {
    display: none;
}


/* ===== Página de Orçamentos -> Gabrielle ===== */