/*importa a fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
    scroll-behavior: smooth;
}

:root{
    --cor:  #000199;
    --cor1: #0002F1;
    --cor2: #989898;
    --cor3: #D5D5D5;
    --cor4: #F1F1F1;
    --cor5: #72777f;
    --cor6: #e5e5e5;
    --shadow: #98989840;

    /* Modo escuro */
    --dark-blue: #3976ff;
    --dark-bg: #111013;
    --dark-cinza-escuro: #1c1b1e;
    --dark-cinza-claro: #bcbbbb;
    --dark-cinza: #2e2e2e;
    --dark-laranja: #ff7a00;
    --dark-verde: #00a210;
    
    /* padding, gap, margin */
    --spacing-big: 18px;            /* espaçamento da tela, input de busca, botões da pág. inicial */
    --spacing-base: 16px;           /* espaçamento de div/sections/conteúdo */
    --spacing-small: 12px;          /* espaçamento dentro dos cards */
    --spacing-cards: 6px 0;         /* espaçamento entre cards */
    --spacing-small-btn: 6px 10px;  /* botões pequenos */

    /* font-sizes */    
    --font-menu: 30px;      /* ícones do menu */
    --font-big: 20px;       /* título das páginas */
    --font-medium: 16px;    /* títulos menores */
    --font-base: 14px;      /* maioria dos textos */
    --font-small: 12px;     /* textinhos menores dos cards */
    --font-smaller: 10px;   /* textinhoinhos */

    /* border-radius */
    --radius: 14px;         /* cards e geral */
    --radius-small: 8px;    /* botões pequenos */
    --radius-round: 30px;   /* 100% redondo */
}

body{
    background-color: var(--cor4);
    user-select: none; /* impede a seleção */
    -webkit-user-select: none; /* garante que funcione em outros navegadores */
    -webkit-tap-highlight-color: transparent; /*tira o destque azul ao tocar nos elementos*/
}

/* conteúdo principal */
main{
    display: flex;
    flex-direction: column;
    padding: var(--spacing-big);
    gap: var(--spacing-base); 
    margin-bottom: 84px; /* pro menu inferior nao tampar nada */
}

/* títulos das páginas */
main > h1{
    font-size: var(--font-big);
    color: var(--cor1);
}

/* títulos menores */
h2 {
    font-size: var(--font-medium);
    font-weight: 400;
    color: #484848;
}

/*Barra de pesquisa*/
div.pesquisa{
    position: relative;
}

div.pesquisa > input{
    width: 100%;
    border-radius: var(--radius);
    padding: var(--spacing-big);
    font-size: var(--font-base);
    background-color: white;
    border: none;
}

div.pesquisa > input:focus{
    outline: 1px solid #d5d5d5;
}

div.pesquisa > img{
    position: absolute;
    right: 5%;
    top: 50%; 
    transform: translateY(-50%);
    pointer-events: none;
}

/* ===== Página inicial -> Alex - Isabella ===== */

/* div dos cards de resumo de rendimento, serviços e peças */
.resumo {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

/* div dos cards que levam para outra pagina */
.resumo-links {
    display: flex;
    gap: var(--spacing-small);
}

.resumo-card {
    position: relative;
    background-color: white;
    width: 100%;
    height: 100px;
    border-radius: var(--radius);
    padding: var(--spacing-base);
    text-decoration: none;
}

.resumo-card > span {
    color: var(--cor1);
    font-weight: 400;
    font-size: 2em;
}

.resumo-card > p {
    color: var(--cor5);
    font-size: var(--font-small);
    margin-top: -4px;
}

.resumo-card i {
    font-size: var(--font-small);
    color: #bdbdbd;
    position: absolute;
    top: var(--spacing-base);
    right: var(--spacing-base);
}

span.red {
    color: #ef1b1b;
}

/* divisor */
.divisor{
    width: 100%;
    height: 1px;
    margin: 8px 0;
    background-color: white;
}

/* Modo escuro */
body.dark .index h1{
    color: var(--dark-blue);
}

body.dark input{
    background-color: var(--dark-cinza-escuro);
    color: var(--dark-cinza-claro);
}

body.dark .resumo-card, body.dark .card-servicos{
    background-color: var(--dark-cinza-escuro);
}

body.dark .index .blue, body.dark .ver-detalhes, body.dark .preco{
    color: var(--dark-blue);
}

body.dark .index .orange{
    color: var(--dark-laranja);
}

body.dark .card-servicos{
    border: none;
}

body.dark .info-servico, body.dark .info-secundaria{
    color: var(--dark-cinza-claro);
}

body.dark .card-servicos .info-destaque{
    color: white;
}

body.dark .status.andamento{
    background-color: transparent;
    border: 1px solid var(--dark-laranja);
    color: var(--dark-laranja);
}

body.dark .menuInferior a{
    color: var(--dark-cinza-claro);
}

body.dark .texto, body.dark .menuInferior .atual i{
    color: var(--dark-blue);
}

/* ===== página de clientes -> Isabella =====*/

/* .title ta sendo usada na pág. de clientes e serviços */
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title h1 {
    color: var(--cor1);
    font-size: var(--font-big);
}

.title button, .title a {
    cursor: pointer;
    color: white;     
    background-color: var(--cor);
    font-size: var(--font-base);
    padding: var(--spacing-small-btn);
    border-radius: var(--radius-small);
    text-decoration: none;
    border: none;
}

.cliente-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: var(--radius);
    padding: var(--spacing-small);
    margin: var(--spacing-cards);
    border: 2px solid var(--cor6);
}

/* texto principal do card */
.info-destaque {
    font-size: var(--font-base);
}

/* textos menores */
.info-secundaria{
    font-size: var(--font-small);
    color: #72777f;
}

.ver-detalhes {
    margin-top: 12px;
    margin-right: auto; /* pra não pegar a linha inteira */
    font-size: var(--font-small);
    color: var(--cor1);
    text-decoration: none;
}

.ver-detalhes:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Modo escuro */

body.dark #cadastrarCliente{
    background-color: var(--dark-blue);
    color: white;
}

body.dark .cliente-card{
    background-color: var(--dark-cinza-escuro);
    border: none;
}

body.dark .cliente-card .info-destaque{
    color: white;
}

body.dark .cliente-card .info-secundaria{
    color: var(--dark-cinza-claro);
}

body.dark .cliente-card .ver-detalhes{
    color: var(--dark-blue);
}

/* ===== página de detalhes do cliente -> Isabella =====*/

.voltar {
    margin-right: auto;
    color: var(--cor1);
    font-size: var(--font-medium);
    border-radius: var(--radius-small); 
}

.voltar:hover {
    background-color: var(--cor1);
    color: white;
    transition: 0.1s ease;
}

.cliente-detalhes {
    position: relative;    
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: var(--font-base);
    padding: var(--spacing-small);
    border-radius: var(--radius);
    border: 2px solid var(--cor6);
}

.cliente-detalhes button {
    position: absolute;
    font-size: var(--font-small);
    background-color: var(--cor4);
    border: 2px solid var(--cor6);
    border-radius: var(--radius-small);    
    padding: var(--spacing-small-btn);
    right: var(--spacing-small);
    cursor: pointer;
}

.cliente-detalhes a {
    text-decoration: none;
    color: var(--cor1);    
    font-size: 10px;
    margin-top: 10px;
}

.card-veiculos {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: var(--spacing-cards);
    font-size: var(--font-base);
    padding: var(--spacing-small);    
    border-radius: var(--radius);
    border: 2px solid var(--cor6);
}

/* .card-servicos usado na pág. de serviços e detalhes do cliente */
.card-servicos {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    margin: var(--spacing-cards);
    font-size: var(--font-base);
    padding: var(--spacing-small);
    border-radius: var(--radius);
    border: 2px solid var(--cor6);
}

.card-servicos .info-servico {
    font-size: var(--font-base);
    color: var(--cor5);
}

.card-servicos .status {
    position: absolute;
    right: var(--spacing-small);
    border-radius: var(--radius-round);
    padding: 2px var(--spacing-big);
    font-size: var(--font-small);
}

.card-servicos .status.pendente {
    border: solid 1px #6060601a;
    color: #606060;
    background-color: #ececec;
}

.card-servicos .status.concluido {
    border: solid 1px #0092001a;
    color: #009200;
    background-color: #e7ffe7;
}

.card-servicos .status.andamento {
    border: solid 1px #d668001a;
    color: #d46700;
    background-color: #fff2e7;
}

.card-servicos .preco {
    position: absolute;
    font-size: var(--font-medium);
    color: var(--cor1);
    top: 38px;
    right: 12px;
}

.novo-orcamento {
    background-color: var(--cor);
    color: white;
    border-radius: var(--radius-round);
    padding: 8px var(--spacing-small);
    text-align: center;
    text-decoration: none;
}

/* Modo escuro */

body.dark .voltar{
    color: var(--dark-blue);
}

body.dark .cliente-detalhes{
    background-color: var(--dark-cinza-escuro);
    border: none;
}

body.dark .cliente-detalhes .info-destaque{
    color: white;
}

body.dark .cliente-detalhes button{
    background-color: var(--dark-blue);
    border: none;
    color: white;
}

body.dark .cliente-detalhes a{
    color: var(--dark-blue);
}

body.dark .card-veiculos{
    background-color: var(--dark-cinza-escuro);
    border: none;
    color: white;
}

body.dark .novo-orcamento{
    background-color: var(--dark-blue);
    color: white;
    font-weight: 500;
}

body.dark .status.pendente{
    color: var(--dark-laranja);
    background: transparent;
    border: 1px solid var(--dark-laranja);
}

/* Modo escuro - Ver detalhes */

body.dark .form-cliente{
    background-color: var(--dark-cinza-escuro);
}

body.dark .form-cliente input{
    background-color: var(--dark-cinza);
    border: none;
}

body.dark h2, body.dark .btn-fechar{
    color: white;
}

body.dark .form-cliente .btn-excluir{
    color: red;
}

body.dark #btnAdicionar, body.dark .btn-salvar{
    background-color: var(--dark-blue);
    color: white;
}

/* Modo esuro - detalhes do serviço */

body.dark .servico-detalhes{
    background-color: var(--dark-cinza-escuro);
}

body.dark .servico-detalhes .detalhes-info{
    background-color: var(--dark-cinza);
    border: none;
}

body.dark .servico-detalhes h2{
    color: white;
}

body.dark .servico-detalhes span{
    color: var(--dark-cinza-claro);
}

body.dark .servico-detalhes .small{
    color: var(--cor5);
}

body.dark .servico-detalhes span{
    color: var(--dark-cinza-claro);
}

body.dark .mudarStatus{
    background-color: var(--dark-blue);
    color: white;
}


/* ===== Página de Orçamentos -> Gabrielle ===== */

.pagina-orcamento > div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* lista */
.lista-cliente {
    position: absolute;
    top: 100%;
    width: 80%;
    background: white;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: none;
    max-height: 150px;
    overflow-y: auto; /*ativa o scroll*/
    z-index: 99;
}

/* itens */
.item-cliente, .item-veiculo{
    padding: 5px;
    cursor: pointer;
}

.item-cliente:hover {
    background-color: var(--cor6);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
    margin-top: 25px;
}

.titulo{
    color: var(--cor1);
    font-size: 1.4em;
    margin-bottom: 10px;
}

.container h2{
    color: var(--cor5);
    font-weight: 300;
    font-size: 1em;
    margin-bottom: 5px;
    margin-top: 15px;
}

/* Campo para buscar por um cliente */
.busca{
    display: flex;
    align-items: center;
    position: relative;
}

.busca input{
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 15px;
    margin-right: 15px;
}

/* Ícone de busca dentro do campo de pesquisa */
.busca img{
    position: absolute;
    right: 70px;
    top: 15px;
    width: 20px;
}

/* Botão de adicionar cliente */
.busca button{
    background-color: var(--cor);
    width: 55px;
    border-radius: 10px;
    color: white;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

/* Campo para selecionar o veículo */
.veiculo{
    display: flex;
    align-items: center;
    position: relative;
}

.veiculo input{
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 15px;
}

.lista-veiculos{
    position: absolute;
    top: 100%;
    width: 100%;
    background: white;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    max-height: 150px;
    display: none;
}

/* campo para escrever o diagnóstico */
.diagnostico textarea{
    width: 100%;
    height: 100px;
    border-radius: 15px;
    border: none;
    background-color: white;
    padding: 15px;
    font-size: 13px;
}

.pecas input, .tipo-servicos input, .mecanico input {
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 15px;
}

.peca, .tipo-servico {
    font-size: var(--font-small);
    border: 2px solid var(--cor3);
    padding: var(--spacing-small);
    border-radius: var(--radius-round);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.peca div, .tipo-servico div {
    align-items: center;
    display: flex;
    gap: 12px;
}

.peca i, .tipo-servico i {
    color: #ef1b1b;
}

/* linha de separação */
.linha{
    width: 100%;
    height: 1.5px;
    background-color: var(--cor3);
    margin: 8px 0;
}

/* valor do serviço e peças */
div.valores {
    gap: var(--spacing-small);
    flex-direction: row;
}

.valores div {
    font-size: var(--font-small);
    padding: var(--spacing-small);
    border-radius: var(--radius);
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.valores span {
    color: var(--cor5);
}

.valores h3 {
    font-weight: 500;
}

/* Valor total do orçamento */
div.valor{
    background-color: white;
    border-radius: var(--radius);
    padding: var(--spacing-small);
    gap: 0;
}

.valor span {
    color: var(--cor5);
}

.valor h1{
    color: var(--cor1);
    font-size: 1.7em;
}

/* Botões de ação do orçamento */
div.botoes-orcamento{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
    font-size: 0.75em;
}

.botoes-orcamento button{
    border-radius: 30px;
    padding: 15px;
    font-weight: 500;
}

.botoes-orcamento .salvar{
    background-color: var(--cor);
    color: white;
    border: none;
}

.botoes-orcamento button:not(.salvar){
    background-color: white;
    color: var(--cor);
    border: 2px solid var(--cor);
}

/* Modal do formulário para adicionar novos clientes */
.overlay{
    position: fixed;
    inset: 0;
    backdrop-filter: blur(5px);
    background-color: #0000004d;
    justify-content: center;
    align-items: center;
    display: none;
}

.form-cliente{
    position: relative;
    background-color: white;
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius);
    padding: var(--spacing-small);
    gap: 10px;
    max-height: 60vh; /* limita a altura do modal */
    overflow-y: auto; /* adiciona barra de rolagem dentro do modal */
}

/* Botão para fechar o modal */
.btn-fechar{
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    font-size: var(--font-medium);
    right: var(--spacing-small);
}

.form-cliente input{
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: var(--cor6);
    font-size: 0.8em;
}

/* informações do cliente dentro do modal */
.campos-cliente{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linha-cliente{
    display: flex;
    gap: 5px;
}

/* informações dos veículos dentro do modal */
.campos-veiculo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linha-veiculo{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

.linha-veiculo .campo{
    flex: 1;
    min-width: 120px;
}

.campo{
    position: relative;
    width: 100%;
}

.campo input{
    border: 1px solid var(--cor3);
    width: 100%;
    border-radius: 10px;
    outline: none;
    padding: var(--spacing-big) var(--spacing-small) 8px var(--spacing-small);
    background-color: var(--cor4);
}

.campo input:focus {
    outline: 1px solid var(--cor5);
}

/* Rótulo dos campos */
.campo label{
    pointer-events: none;
    position: absolute;
    left: var(--spacing-small);
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--font-small);
    color: var(--cor5);
    transition: 0.3s;
}

.campo input:focus + label,
.campo input:valid + label{
    top: 12px;
    font-size: var(--font-smaller);
}

/* Botão de excluir veículo */
.btn-excluir{
    border: 1px solid red;
    color: red;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.7em;
    padding: 10px;
}

/* Botão para adicionar novo veículo */
#btnAdicionar{
    background: var(--cor);
    color: white;
    border: none;
    padding: var(--spacing-small-btn);
    border-radius: 20px;
    cursor: pointer;
    width: 130px;
    font-size: 11px;
}

/* Botão para enviar o formulário */
button[type="submit"]{
    width: 100%;
    background: var(--cor);
    color: white;
    border: none;
    font-size: var(--font-base);
    padding: var(--spacing-small);
    border-radius: var(--radius-round);
    font-weight: 500;
    cursor: pointer;
}

/* Separa os veículos adicionados */
.linha-separadora{
    width: 100%;
    height: 1px;
    background-color: var(--cor3);
    margin-bottom: 10px;
}

/* Modo escuro */
body.dark .diagnostico textarea, body.dark .linha, body.dark .mao-de-obra{
    background-color: var(--dark-cinza-escuro);
}

body.dark .peca, body.dark .tipo-servico{
    background-color: var(--dark-cinza-escuro);
    color: white;
    border: none;
}

body.dark .mao-de-obra span{
    color: var(--dark-cinza-claro);
}

body.dark .mao-de-obra h3{
    color: white;
}

body.dark .valor{
    background-color: var(--dark-cinza-escuro);
}

body.dark .valor span{
    color: var(--dark-cinza-claro);
}

body.dark .botoes-orcamento .salvar{
    background-color: var(--dark-blue);
}

body.dark .botoes-orcamento button{
    background-color: var(--dark-cinza-escuro);
    color: white;
    border: 2px solid var(--dark-blue);
}

body.dark .lista-cliente, body.dark .lista-veiculos{
    background-color: var(--dark-cinza-escuro);
    color: white;
    box-shadow: 2px 2px 10px black;
}


/* Menu inferior -> Isabella */

.menuInferior {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    font-size: var(--font-small);    
    padding: var(--spacing-big);
    box-shadow: 0 -1px 10px var(--shadow);
    border-top-left-radius: var(--radius-round);
    border-top-right-radius: var(--radius-round);
}

.menuInferior a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b4b4b4;
    text-decoration: none;
}

.menuInferior a i {
    font-size: var(--font-menu);
    color: #b4b4b4;
}

.menuInferior .atual, .menuInferior .atual i{
    color: var(--cor1);
}


/* ===== Menu lateral -> Gabrielle */

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-base);
    box-shadow: 0 1px 6px var(--shadow);
}

/* botão para abrir o menu */
.menu-btn, .nav-bar a{
    color: var(--cor1);
    font-size: var(--font-menu);
    cursor: pointer;
    display: flex;
    text-decoration: none;
    align-items: center;
}

/* botão de fechar o menu */
.btn-fechar-menu{
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 24px;
    color: white;
}

.menu{
    position: fixed;
    top: 0;
    left: -250px; /* escondido */
    width: 230px;
    height: 100%;
    background-color: #000199;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s ease;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 99;
}

.menu h1{
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
    padding-left: 10px;
    font-weight: 400;
}

.menu a{
    color: white;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
}

.menu-top, .menu-bottom{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.menu.active{ /* Menu aberto */
    left: 0;
}

/*bloqueia clique em todos os elementos da página*/
.no-click{
    pointer-events: none;
}

/*permite interação no menu */
.menu{
    pointer-events: all;
}

/*impede scroll da página quando o menu estiver aberto*/
.no-scroll {
    overflow: hidden;
}

/* Modo escuro */

body.dark .menu h1{
    color: white;
}

body.dark .menu{
    background-color: var(--dark-cinza-escuro);
    box-shadow: 0 0 15px black;
}


/* ===== página de serviços -> Alex - Isabella =====*/

/* filtros */
div.filtro {
    display: flex;
    gap: 4px;
    white-space: nowrap;
    overflow: auto;
    scrollbar-width: none;
}

.filtro .opcao{
    margin-bottom: 8px;
    transition: 0.3s ease;
    font-size: var(--font-small); 
    border: none;
    background-color: #e6e6e6;
    color: var(--cor5);
    padding: 8px 16px;
    border-radius: var(--radius-round);
    cursor: pointer;
}

.filtro .selected, .filtro .opcao:hover{
    background-color: #000199;
    color: white;
}

/* Botão ver mais */
.servicos .mostrarMais {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.mostrarMais button {    
    cursor: pointer;
    border: none;
    color: var(--cor1);
    background: none;
}

.mostrarMais button:hover {
    text-decoration: underline;
}

/* Modo escuro */

body.dark .status.concluido{
    background-color: transparent;
    border: 1px solid var(--dark-verde);
    color: var(--dark-verde);
}

body.dark .status.pendente{
    background-color: transparent;
    border: 1px solid var(--dark-cinza-claro);
    color: var(--dark-cinza-claro);
}

body.dark .btn-novo{
    background-color: var(--dark-blue);
}

body.dark .filtro .opcao.selected{
    background-color: var(--dark-blue);
    color: white;
}

body.dark .filtro .opcao{
    background-color: var(--dark-cinza);
    color: var(--dark-cinza-claro);
}

/* modal detalhes do serviço - isabella */

.servico-detalhes {
    position: relative;
    background-color: white;
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius);
    padding: var(--spacing-small);
    gap: 10px;
}

.btn-fechar-servico {
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    font-size: var(--font-medium);
    right: var(--spacing-small);
}

.detalhes-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid var(--cor6);
    border-radius: 10px;
}

.servico-detalhes div .small {
    font-size: var(--font-smaller);
    color: #b4b4b4;
}

.servico-detalhes div span {
    font-size: var(--font-base);
}

.servico-detalhes .mudarStatus {
    background-color: var(--cor);
    color: white;
    border: none;
    border-radius: 16px;
    padding: 6px;
    cursor: pointer;
}

/* ===== PÁGINA ESTOQUE -> ISABELLA ===== */

/* botão para adicionar nova peça */
.btn-nova-peca {
    color: white;
    border: none;
    font-weight: 500;
    background-color: var(--cor);
    font-size: var(--font-medium);
    padding: var(--spacing-small);
    border-radius: var(--radius);
    cursor: pointer;
}

/* div dos cards de peças */
.peca-cards {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-cards);
}

/* cada card */
.peca-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid var(--cor6);
    padding: var(--spacing-small);
    border-radius: var(--radius);
}

/* código da peça */
.info-id {
    font-weight: 500;
    color: var(--cor1);
    font-size: var(--font-base);
}

/* botões do card */
.peca-card button {
    right: 12px;
    position: absolute;
    font-weight: 500;
    padding: var(--spacing-small-btn);
    cursor: pointer;
}

.peca-card .btn-qnt {
    width: 120px;
    font-size: var(--font-small);
    border-radius: var(--radius-round);
    border: none;
    background-color: var(--cor);
    color: white;
}

.peca-card .btn-qnt.zero {
    background-color: #ef1b1b;
}

.peca-card .btn-edt {
    bottom: 12px;
    color: var(--cor1);
    border: 1px solid var(--cor1);
    font-size: var(--font-smaller);
    background-color: var(--cor4);   
    border-radius: var(--radius-small);
}

.contato-fornecedor {
    background-color: var(--cor);
    color: white;
    border: none;
    border-radius: var(--radius);
    padding: var(--spacing-small);
    display: none;
}

.peca-info-modal {
    display: flex;
    flex-direction: column;
}

.unidades {
    display: flex;
    white-space: nowrap;
    gap: 8px;
    align-items: center;
}

.unidades input {
    font-size: var(--font-base);
    width: 80px;
    background-color: var(--cor4);
    border: 1px solid var(--cor3);    
}

.unidades input:focus {
    outline: 1px solid #b4b4b4;
}

.form-cliente .btn-nova-peca {
    padding: 8px;
}

/* Modo escuro */
body.dark .estoque .btn-nova-peca{
    background-color: var(--dark-blue);
    color: white;
}

body.dark .peca-cards .peca-card{
    background-color: var(--dark-cinza-escuro);
    border: none;
}

body.dark .peca-card .info-id{
    color: var(--dark-blue);
}

body.dark .peca-card .info-destaque{
    color: white;
}

body.dark .peca-card .btn-edt{
    background-color: transparent;
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
}

body.dark .peca-card .btn-qnt{
    background-color: var(--dark-blue);
}

body.dark .peca-card .btn-qnt.zero{
    background-color: red;
}

body.dark .btn-add-estoque, body.dark .contato-fornecedor{
    background-color: var(--dark-blue);
    color: white;
}

/* Modal para alterar quantidade */
body.dark .peca-info-modal .info-id{
    color: var(--dark-blue);
}

body.dark .peca-info-modal .info-destaque, body.dark .unidades span{
    color: white;
}

body.dark .peca-info-modal .info-secundaria{
    color: var(--dark-cinza-claro);
}

body.dark .btn-nova-peca{
    color: white;
    background-color: var(--dark-blue);
}


/* ===== página de configuração -> Alex / Gabrielle ===== */

/*Titulo*/
.configuracao > h1{
    display: flex;
    color: var(--cor1);
    font-size: 1.2em;
    margin: 0 0 15px 0;
}

.modo-escuro {
    display: flex;
    font-size: 12px;
    align-items: center;
    color: var(--cor5);
    gap: 20px;
}

.conta-editar{
    display: flex;
    justify-content: space-between;
}

.conta-editar button{
    border: none;
    color: var(--cor1);
    font-weight: 650;
    margin-top: 10px;
    background: transparent;
}

/* switch */
.switch {
    position: relative;
    width: 50px;
    height: 20px;
    background-color: var(--cor3);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.switch .indicador{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transform: scale(.8);
    position: absolute;
    left: 0;
    transition: .4s;
}

.switch.dark{
    background-color: var(--dark-blue);
    transition: .5s;
}

.configuracao h2{
    font-size: 14px;
    color: var(--dark-bg);
    margin-top: 10px;
}

/*Campo para digitar*/
.configuracao .campo{
    width: 100%;
    border: none;
    border-radius: 7px;
    background-color: var(--cor6);
    padding: 13px;
    font-size: 12px;
    color: var(--cor5);
    transition: 0.3s ease;
}

/*Texto*/
.configuracao .texto{
    font-size: 11px;
    margin-bottom: 5px;
    color: var(--cor5);
}

.sair a {
    font-size: 12px;
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: 1.5px solid var(--cor1);
    border-radius: 10px;
}

.sair{
    margin-top: 15px;
}

/* modo escuro */
.switch.dark .indicador{
    left: 30px; 
}

body{
    transition: .5s;
}

body.dark{
    background-color: var(--dark-bg);
    transition: .5s;
}

body.dark .configuracao h2{
    color: white;
}

body.dark h1{
    color: var(--dark-blue);
}

body.dark .configuracao input{
    background-color: var(--dark-cinza-escuro);
}

body.dark .menuInferior{
    background-color: var(--dark-cinza-escuro);
    box-shadow: 0 1px 15px 1px #080808;
}

body.dark .texto, body.dark .menuInferior i{
    color: var(--dark-cinza-claro);
}

body.dark button{
    color: var(--dark-blue);
}

body.dark .sair i, body.dark .sair a, body.dark .nav-bar i{
    color: var(--dark-blue);
}

body.dark .sair a{
    border: 1.5px solid var(--dark-blue);
}

body .campo.editando {
    background-color: white;
    transition: .6s;
}

body.dark .campo.editando {
    background-color: var(--dark-cinza);
    color: var(--dark-cinza-claro);
}

body.dark .nav-bar {
    box-shadow: 0 1px 15px 1px #080808;
}