<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/dashboard.css">
    <script src="../../assets/js/menu-lateral.js" defer></script>
    <title>Menu lateral</title>
    <!-- link para os ícones -->
    <link href="../assets/icons/css/fontawesome.css" rel="stylesheet"/>
    <link href="../assets/icons/css/solid.css" rel="stylesheet"/>
    <link href="../assets/icons/css/regular.css" rel="stylesheet"/>
</head>
<body>
    
<!-- Menu lateral -->

    <div class="nav-bar">
        <!-- abrir menu lateral -->
        <i class="fa-solid fa-bars menu-btn" id="menuBtn"></i>
        <!-- link do perfil -->
        <a href="configuracoes.html">
            <i class="fa-regular fa-circle-user"></i>
        </a>
    </div>

    <nav class="menu" id="menu">
        <!-- links do menu -->
        <div class="links">
            <!-- botão de fechar menu -->
            <div class="btn-fechar-menu" id="btnFecharMenu">
                <i class="fa-solid fa-bars menu-btn"></i>
            </div>
                <a class="link-menu" href="index.html">
                    <i class="fa-solid fa-home"></i>
                    <span>Início</span>
                </a>
                <a class="link-menu" href="orcamento.html">
                    <i class="fa-solid fa-plus"></i>
                    <span>Novo Orçamento</span>
                </a>
                <a class="link-menu" href="servicos.html" >
                    <i class="fa-regular fa-clipboard"></i>
                    <span>Serviços</span>
                </a>
                <a class="link-menu" href="clientes.html">
                    <i class="fa-regular fa-user"></i>
                    <span>Clientes</span>
                </a>
            </div>
        </div>
        <div class="b-links">
            <a class="link-menu" href="configuracoes.html">
                <i class="fa-solid fa-gear"></i>
                <span>Configurações</span>
            </a>
            <a href="../index.html">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Desconectar</span>
            </a>
        </div>
    </nav>

</body>
</html>