/*importa a fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
    scroll-behavior: smooth;
}

:root{
    --cor:  #1d5cb9;
    --cor2: #989898;
    --cor3: #D5D5D5;
    --cor4: #F1F1F1;
    --cor5: #72777f;
    --cor6: #e5e5e5;
    --shadow: #98989840;

    /* Modo escuro */
    --dark-blue: #3976ff;
    --dark-bg: #111013;
    --dark-cinza-escuro: #1c1b1e;
    --dark-cinza-claro: #bcbbbb;
    --dark-cinza: #2e2e2e;
    --dark-cinza-borda: #797979;
    --dark-laranja: #ff7a00;
    --dark-verde: #00a210;
    --dark-hover: #3d3c3c;
    
    /* padding, gap, margin */
    --spacing-big: 18px;            /* espaçamento da tela, input de busca, botões da pág. inicial */
    --spacing-base: 16px;           /* espaçamento de div/sections/conteúdo */
    --spacing-small: 12px;          /* espaçamento dentro dos cards */
    --spacing-cards: 12px 0;         /* espaçamento entre cards */
    --spacing-small-btn: 6px 10px;  /* botões pequenos */

    /* font-sizes */    
    --font-menu: 30px;      /* ícones do menu */
    --font-big: 20px;       /* título das páginas */
    --font-medium: 16px;    /* títulos menores */
    --font-base: 14px;      /* maioria dos textos */
    --font-small: 12px;     /* textinhos menores dos cards */
    --font-smaller: 10px;   /* textinhoinhos */

    /* border-radius */
    --radius: 14px;         /* cards e geral */
    --radius-small: 8px;    /* botões pequenos */
    --radius-round: 30px;   /* 100% redondo */

    /* padão modal */
    --title-color: #747474;
    --title-size: 18px;
    --title-weight: 600;
    --subtitle-size: 15px;
    --subtitle-weight: 500; 
}

body{
    background-color: var(--cor4);
    user-select: none; /* impede a seleção */
    -webkit-user-select: none; /* garante que funcione em outros navegadores */
    -webkit-tap-highlight-color: transparent; /*tira o destaque azul ao tocar nos elementos*/
}

/* conteúdo principal */
main{
    display: flex;
    flex-direction: column;
    padding: var(--spacing-big);
    gap: var(--spacing-base); 
    margin-bottom: 84px; /* pro menu inferior nao tampar nada */
}

/* títulos das páginas */
main > h1{
    font-size: var(--font-big);
    color: var(--cor);
}

/* títulos menores */
h2 {
    font-size: var(--font-medium);
    font-weight: 400;
    color: #484848;
}

/*Barra de pesquisa*/
div.pesquisa{
    position: relative;
    width: 100%;
}

div.pesquisa > input{
    width: 100%;
    font-size: var(--font-base);
    background-color: white;
    border: none;
    border-radius: var(--radius-small);
    padding: var(--spacing-small);
}

.pesquisa input::placeholder{
    color: var(--cor2);
}

div.pesquisa > input:focus{
    outline: 1px solid #d5d5d5;
}

div.pesquisa > img{
    position: absolute;
    right: 4%;
    top: 50%; 
    transform: translateY(-50%);
    pointer-events: none;
}

/* ===== Página inicial -> Alex - Isabella ===== */

/* div dos cards de resumo de rendimento, serviços e peças */
.resumo {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

/* div dos cards que levam para outra pagina */
.resumo-links {
    display: flex;
    gap: var(--spacing-small);
}

.resumo-card {
    position: relative;
    background-color: white;
    width: 100%;
    height: 100px;
    border-radius: var(--radius);
    padding: var(--spacing-base);
    text-decoration: none;
}

.resumo-card > span {
    color: var(--cor);
    font-weight: 400;
    font-size: 2em;
}

.resumo-card > p {
    color: var(--cor5);
    font-size: var(--font-small);
    margin-top: -4px;
}

.resumo-card i {
    font-size: var(--font-small);
    color: #bdbdbd;
    position: absolute;
    top: var(--spacing-base);
    right: var(--spacing-base);
}

span.red {
    color: #ef1b1b;
}

/* divisor */
.divisor{
    width: 100%;
    height: 1px;
    margin: 8px 0;
    background-color: white;
}

/* Modo escuro */
body.dark .index h1{
    color: var(--dark-blue);
}

body.dark input{
    background-color: var(--dark-cinza-escuro);
    color: var(--dark-cinza-claro);
    border: 2px solid var(--dark-cinza-escuro);
}

body.dark input:focus{
    outline: none;
    border: 2px solid var(--dark-cinza);
}

body.dark .resumo-card, body.dark .card-servicos{
    background-color: var(--dark-cinza-escuro);
}

body.dark .index .blue, body.dark .ver-detalhes, body.dark .preco{
    color: var(--dark-blue);
}

body.dark .index .orange{
    color: var(--dark-laranja);
}

body.dark .card-servicos{
    border: none;
}

body.dark .info-servico, body.dark .info-secundaria{
    color: var(--dark-cinza-claro);
}

body.dark .card-servicos .info-destaque{
    color: white;
}

body.dark .status.andamento{
    border: 1px solid #6c8df8;
    background-color: transparent;
    color: #6c8df8;
}

body.dark .menuInferior a{
    color: var(--dark-cinza-claro);
}

body.dark .texto, body.dark .menuInferior .atual i{
    color: var(--dark-blue);
}

/* ===== página de clientes -> Isabella =====*/

/* .title ta sendo usada na pág. de clientes e serviços */
.title {
    display: flex;
    flex-direction: column;
}

.title h1 {
    color: var(--cor);
    font-size: var(--font-big);
}

.title p {
    color: var(--cor2);
    font-size: 12px;
}

.title button {
    cursor: pointer;
    color: white;     
    background-color: var(--cor);
    font-size: var(--font-base);
    padding: var(--spacing-small-btn);
    border-radius: var(--radius-small);
    text-decoration: none;
    border: none;
}

.ordem-filtro.ordem-clientes {
    position: static;
}

.ordem-filtro.ordem-clientes button {
    margin-left: auto;
}

.cliente-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: var(--radius);
    padding: var(--spacing-base);
    margin: var(--spacing-cards);
    border: 2px solid var(--cor6);
    text-decoration: none;
    box-shadow: 1px 1px 2px var(--cor6);
}

.cliente-card:hover {
    box-shadow: 3px 3px 2px var(--cor6);
    transform: scale(1.005);
    transition: 0.2s;
}

/* texto principal do card */
.info-destaque {
    font-size: var(--font-base);
    font-weight: 500;
    color: #000;
}

/* classe pra agrupar infos secundárias dos cards de clientes */
.infos-sec {
    display: flex;
    flex-direction: column;
}

/* textos menores */
.info-secundaria{
    font-size: var(--font-small);
    color: #72777f;
}

.ver-detalhes {   
    margin-right: auto; 
    font-size: var(--font-small);
    color: var(--cor);
    text-decoration: none;
}

.ver-detalhes:hover {
    text-decoration: underline;    
}

/* Modo escuro */

body.dark #cadastrarCliente{
    background-color: var(--dark-blue);
    color: white;
}

body.dark .cliente-card{
    background-color: var(--dark-cinza-escuro);
    border: none;
}

body.dark .cliente-card .info-destaque{
    color: white;
}

body.dark .cliente-card .info-secundaria{
    color: var(--dark-cinza-claro);
}

body.dark .cliente-card .ver-detalhes{
    color: var(--dark-blue);
}

/* ===== página de detalhes do cliente -> Isabella =====*/

.voltar {
    margin-right: auto;
    color: var(--cor);
    font-size: var(--font-medium);
    border-radius: var(--radius-small); 
}

.voltar:hover {
    background-color: var(--cor);
    color: white;
    transition: 0.1s ease;
}

.cliente-detalhes {
    position: relative;    
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: var(--font-base);
    padding: var(--spacing-small);
    border-radius: var(--radius);
    border: 2px solid var(--cor6);
}

.cliente-detalhes button {
    position: absolute;
    font-size: var(--font-small);
    background-color: var(--cor4);
    border: 2px solid var(--cor6);
    border-radius: var(--radius-small);    
    padding: var(--spacing-small-btn);
    right: var(--spacing-small);
    cursor: pointer;
}

.cliente-detalhes a {
    text-decoration: none;
    color: var(--cor);    
    font-size: 10px;
    margin-top: 10px;
}

.card-veiculos {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: var(--spacing-cards);
    font-size: var(--font-base);
    padding: var(--spacing-small);    
    border-radius: var(--radius);
    border: 2px solid var(--cor6);
}

/* .card-servicos usado na pág. de serviços e detalhes do cliente */
.card-servicos {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    margin: var(--spacing-cards);
    font-size: var(--font-base);
    padding: var(--spacing-small);
    border-radius: var(--radius);
    border: 2px solid var(--cor6);
    z-index: 1;
}

.card-servicos .info-servico {
    font-size: var(--font-base);
    color: var(--cor5);
}

.card-servicos .status {
    position: absolute;
    right: var(--spacing-small);
    border-radius: var(--radius-round);
    padding: 2px var(--spacing-big);
    font-size: var(--font-small);
}

.card-servicos .status.pendente {
    border: 1px solid var(--dark-laranja);
    color: var(--dark-laranja);
    background-color: #fff2e7;
}

.card-servicos .status.concluido {
    border: 1px solid var(--dark-verde);
    color: #009200;
    background-color: #e7ffe7;
}

.card-servicos .status.andamento {
    border: 1px solid var(--dark-blue);
    background-color: #ebf1fa;
    color: var(--dark-blue);
}

.card-servicos .preco {
    position: absolute;
    font-size: var(--font-medium);
    color: var(--cor);
    top: 38px;
    right: 12px;
}

.novo-orcamento {
    background-color: var(--cor);
    color: white;
    border-radius: var(--radius-round);
    padding: 8px var(--spacing-small);
    text-align: center;
    text-decoration: none;
}

/* Modo escuro */

body.dark .voltar{
    color: var(--dark-blue);
}

body.dark .cliente-detalhes{
    background-color: var(--dark-cinza-escuro);
    border: none;
}

body.dark .cliente-detalhes .info-destaque{
    color: white;
}

body.dark .cliente-detalhes button{
    background-color: var(--dark-blue);
    border: none;
    color: white;
}

body.dark .cliente-detalhes a{
    color: var(--dark-blue);
}

body.dark .card-veiculos{
    background-color: var(--dark-cinza-escuro);
    border: none;
    color: white;
}

body.dark .novo-orcamento{
    background-color: var(--dark-blue);
    color: white;
    font-weight: 500;
}

body.dark .status.pendente, body.dark .status.concluido{
    background: transparent;
}

/* Modo escuro - Ver detalhes */

body.dark .form-cliente{
    background-color: var(--dark-cinza-escuro);
}

body.dark .form-cliente .campo input{
    background-color: var(--dark-cinza);
    border: 2px solid var(--dark-cinza);
}

body.dark .form-cliente .campo input:focus{
    border: 2px solid var(--dark-cinza-borda);
}

body.dark h2, body.dark .btn-fechar{
    color: white;
}

body.dark .form-cliente .btn-excluir{
    color: red;
}

body.dark #btnAdicionar, body.dark .btn-salvar{
    background-color: var(--dark-blue);
    color: white;
}

/* Modo esuro - detalhes do serviço */

body.dark .servico-detalhes{
    background-color: var(--dark-cinza-escuro);
}

body.dark .servico-detalhes .detalhes-info{
    background-color: var(--dark-cinza);
    border: none;
}

body.dark .servico-detalhes h2{
    color: white;
}

body.dark .servico-detalhes span{
    color: var(--dark-cinza-claro);
}

body.dark .servico-detalhes .small{
    color: var(--cor5);
}

body.dark .servico-detalhes span{
    color: var(--dark-cinza-claro);
}

body.dark .mudarStatus{
    background-color: var(--dark-blue);
    color: white;
}


/* ===== Página de Orçamentos -> Gabrielle ===== */

.pagina-orcamento > div {
    display: flex;
    flex-direction: column;
}

.pagina-orcamento label{
    font-size: 13px;
    margin-bottom: 6px;
    color: #484848;
}

.cliente-novo{
    display: flex;
    justify-content: space-between;
}

.cliente-novo button{
    border: none;
    color: var(--cor);
    text-decoration: underline;
    font-weight: 500;
    font-size: 13px;
}

.pagina-orcamento input{
    border-radius: var(--radius-small);
    width: 100%;
    padding: var(--spacing-small-btn);
    border: 1px solid var(--cor3);
}

/* lista */
.lista-cliente, .lista-veiculos {
    position: absolute;
    top: 100%;
    width: 80%;
    background: white;
    border-radius: var(--radius-small);
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: none;
    max-height: 150px;
    overflow-y: auto; /*ativa o scroll*/
    z-index: 1;
    font-size: 13px;
}

/* itens */
.item-cliente, .item-veiculo{
    padding: 3px;
    cursor: pointer;
}

.item-cliente:hover, .item-veiculo:hover{
    background-color: var(--cor4);
}

body.dark .item-cliente:hover, body.dark .item-veiculo:hover{
    background-color: var(--dark-cinza);
}

/* Campo para buscar por um cliente */
.busca{
    display: flex;
    align-items: center;
    position: relative;
}

/* Ícone de busca dentro do campo de pesquisa */
.busca img{
    position: absolute;
    right: 17px;
    top: 6px;
    width: 20px;
}

/* Campo para selecionar o veículo */
.veiculo{
    display: flex;
    align-items: center;
    position: relative;
}

/* campo para escrever o diagnóstico */
.diagnostico textarea{
    width: 100%;
    height: 80px;
    border-radius: var(--radius-small);
    border: none;
    padding: 10px;
    resize: none;
}

/* campo de peça e serviço */
.campo-servico, .campo-peca{
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

/* ajusta o tamanho dos campos de serviço e peça */
.nome-peca, .tipo-servico{
    flex: 3;
}

.valor-uni-peca, .valor-uni-servico{
    flex: 2;
}

.qtd-peca{
    flex: 1;
}

.pecas, .tipo-servicos{
    gap: 8px;
}

.add-peca, .add-servico {
    flex-shrink: 0;
    width: 40px;
    border: none;
    border-radius: var(--radius-small);
    background-color: var(--cor);
    color: white;
    font-weight: 500;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.peca, .servico-escolhido {
    font-size: var(--font-small);
    border: 2px solid #9fc1ff;
    background-color: #f5f9ff;
    padding: var(--spacing-small-btn);
    border-radius: var(--radius-small);
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--cor5);
    font-weight: 500;
}

.peca div, .servico-escolhido div {
    align-items: center;
    display: flex;
    gap: 12px;
}

.peca i, .servico-escolhido i {
    color: #ef1b1b;
}

/* valor do serviço e peças */
div.valores {
    gap: var(--spacing-small);
    flex-direction: row;
}

.valores div {
    font-size: var(--font-small);
    padding: var(--spacing-small);
    border-radius: var(--radius);
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.valores span {
    color: var(--cor5);
}

.valores h3 {
    font-weight: 500;
}

/* Valor total do orçamento */
div.valor{
    background-color: white;
    border-radius: var(--radius);
    padding: var(--spacing-small);
    gap: 0;
}

.valor span {
    color: var(--cor5);
}

.valor h1{
    color: var(--cor);
    font-size: 1.7em;
}

/* Botões de ação do orçamento */
div.botoes-orcamento{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

.botoes-orcamento button{
    border-radius: 10px;
    padding: 8px;
    font-size: var(--font-base);
}

.botoes-orcamento .salvar{
    background-color: var(--cor);
    color: white;
    border: none;
}

.botoes-orcamento button:not(.salvar){
    background-color: white;
    color: var(--cor);
    border: 1px solid var(--cor);
    font-weight: 500;
}

/* Modal do formulário para adicionar novos clientes */
.overlay {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(5px);
    background-color: #0000004d;
    justify-content: center;
    align-items: flex-end;
    display: none;
    z-index: 1000;
}

.form-cliente{
    position: relative;
    background-color: white;
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius);
    padding: var(--spacing-small);
    gap: 10px;
    max-height: 60vh; /* limita a altura do modal */
    overflow-y: auto; /* adiciona barra de rolagem dentro do modal */
}

/* Botão para fechar o modal */
.btn-fechar{
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    font-size: var(--font-medium);
    right: var(--spacing-small);
}

.form-cliente input{
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: var(--cor6);
    font-size: 0.8em;
}

/* informações do cliente dentro do modal */
.campos-cliente{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linha-cliente{
    display: flex;
    gap: 5px;
}

/* informações dos veículos dentro do modal */
.campos-veiculo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linha-veiculo{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

.linha-veiculo .campo{
    flex: 1;
    min-width: 120px;
}

.campo{
    position: relative;
    width: 100%;
}

.campo input{
    border: 1px solid var(--cor3);
    width: 100%;
    border-radius: 10px;
    outline: none;
    padding: var(--spacing-big) var(--spacing-small) 8px var(--spacing-small);
    background-color: var(--cor4);
}

.campo input:focus {
    outline: 1px solid var(--cor5);
}

/* Rótulo dos campos */
.campo label{
    pointer-events: none;
    position: absolute;
    left: var(--spacing-small);
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--font-small);
    color: var(--cor5);
    transition: 0.3s;
}

.campo input:focus + label,
.campo input:valid + label{
    top: 12px;
    font-size: var(--font-smaller);
}

/* Botão de excluir veículo */
.btn-excluir{
    border: 1px solid red;
    color: red;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.7em;
    padding: 10px;
}

/* Botão para adicionar novo veículo */
#btnAdicionar{
    background: var(--cor);
    color: white;
    border: none;
    padding: var(--spacing-small-btn);
    border-radius: 20px;
    cursor: pointer;
    width: 130px;
    font-size: 11px;
}

/* Botão para enviar o formulário */
button[type="submit"]{
    width: 100%;
    background: var(--cor);
    color: white;
    border: none;
    font-size: var(--font-base);
    padding: var(--spacing-small);
    border-radius: var(--radius-round);
    font-weight: 500;
    cursor: pointer;
}

/* Separa os veículos adicionados */
.linha-separadora{
    width: 100%;
    height: 1px;
    background-color: var(--cor3);
    margin-bottom: 10px;
}

/* Modo escuro */
body.dark .linha, body.dark .mao-de-obra{
    background-color: var(--dark-cinza-escuro);
}

body.dark textarea{
    background-color: var(--dark-cinza-escuro);
    border: 2px solid var(--dark-cinza-escuro);
    color: var(--dark-cinza-claro);
}

body.dark textarea:focus{
    outline: none;
    border: 2px solid var(--dark-cinza);
}

body.dark .peca, body.dark .tipo-servico{
    background-color: var(--dark-bg);
    color: white;
    border: 2px solid var(--dark-cinza);
}

body.dark .mao-de-obra span{
    color: var(--dark-cinza-claro);
}

body.dark .mao-de-obra h3{
    color: white;
}

body.dark .valor{
    background-color: var(--dark-cinza-escuro);
}

body.dark .valor span{
    color: var(--dark-cinza-claro);
}

body.dark .botoes-orcamento .salvar{
    background-color: var(--dark-blue);
}

body.dark .botoes-orcamento button{
    background-color: var(--dark-cinza-escuro);
    color: white;
    border: 2px solid var(--dark-blue);
}

body.dark .lista-cliente, body.dark .lista-veiculos{
    background-color: var(--dark-cinza-escuro);
    color: white;
    box-shadow: 2px 2px 10px black;
}


/* Menu inferior -> Isabella */

.menuInferior {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    font-size: var(--font-small);    
    padding: var(--spacing-big);
    box-shadow: 0 -1px 10px var(--shadow);
    border-top-left-radius: var(--radius-round);
    border-top-right-radius: var(--radius-round);
    z-index: 2;
}

.menuInferior a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b4b4b4;
    text-decoration: none;
}

.menuInferior a i {
    font-size: var(--font-menu);
    color: #b4b4b4;
}

.menuInferior .atual, .menuInferior .atual i{
    color: var(--cor);
}


/* ===== Menu lateral -> Gabrielle */

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-base);
    box-shadow: 0 1px 6px var(--shadow);
}

/* botão para abrir o menu */
.menu-btn, .nav-bar a{
    color: var(--cor);
    font-size: var(--font-menu);
    cursor: pointer;
    display: flex;
    text-decoration: none;
    align-items: center;
}

/* botão de fechar o menu */
.btn-fechar-menu{
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 24px;
    color: white;
}

.menu{
    position: fixed;
    top: 0;
    left: -250px; /* escondido */
    width: 230px;
    height: 100%;
    background-color: #000199;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s ease;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 99;
}

.menu h1{
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
    padding-left: 10px;
    font-weight: 400;
}

.menu a{
    color: white;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
}

.menu-top, .menu-bottom{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.menu.active{ /* Menu aberto */
    left: 0;
}

/*bloqueia clique em todos os elementos da página*/
.no-click{
    pointer-events: none;
}

/*permite interação no menu */
.menu{
    pointer-events: all;
}

/*impede scroll da página quando o menu estiver aberto*/
.no-scroll {
    overflow: hidden;
}

/* Modo escuro */

body.dark .menu h1{
    color: white;
}

body.dark .menu{
    background-color: var(--dark-cinza-escuro);
    box-shadow: 0 0 15px black;
}


/* ===== página de serviços -> Alex - Isabella =====*/

/* filtros */
div.filtro {
    display: flex;
    gap: 4px;
    white-space: nowrap;
    scrollbar-width: none;
    margin-bottom: 20px;
}

.btn-filtro{
    width: 100%;
    overflow: auto;
}

/* deixa a barra de rolagem do filtro invisivel */
.btn-filtro::-webkit-scrollbar {
  display: none;
}

.ordem-filtro{
    position: absolute;
    top: 260px;
    right: 20px;
}

.ordem-filtro.aberto .ordem-opcoes {
    visibility: visible;
    opacity: 1;
    z-index: 10;
}

.ordem-filtro.aberto .ordem-btn i {
    transform: rotate(180deg);
}

.ordem-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: transparent;
    border: none;
    color: var(--cor2);
    font: inherit;
    cursor: pointer;
    font-size: var(--font-base);
}

.ordem-btn i {
    font-size: 12px;
    transition: transform 0.2s ease;
}

.ordem-opcoes {
    position: absolute;
    right: 0;
    top: 30px;
    padding: 6px;
    background-color: white;
    border-radius: var(--radius-small);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
    opacity: 0;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.ordem-opcoes button {
    display: block;
    width: 100%;
    padding: 9px 10px;
    border: none;
    border-radius: var(--radius-small);
    background-color: transparent;
    color: var(--cor5);
    text-align: left;
    cursor: pointer;
}

.ordem-opcoes button:hover {
    background-color: #00009910;
}

/* filtro por status */

.filtro .opcao{
    border-radius: var(--radius-small);
    background-color: transparent;
    border: 2px solid var(--cor3);
    padding: var(--spacing-small-btn);
    color: var(--cor5);
    font-size: var(--font-small);
    cursor: pointer;
    font-weight: 500;
}

.btn-filtro{
    display: flex;
    gap: 8px;
}

.filtro .selected, .filtro .opcao:hover{
    background-color: var(--cor);
    color: white;
}

.filtro .selected span{
    color: #9dc3fc;
}

.filtro span{
    color: var(--cor2);
    margin-left: 5px;
}

.btn-novo {
    display: none;
}

.add {
    position: absolute;
    top: 100px;
    right: 18px;
    text-decoration: none;
    background-color: var(--cor);
    color: white;
    padding: 5px 10px;
    border-radius: var(--radius-small);
    text-align: center;
    font-size: var(--font-small);
    cursor: pointer;
    border: none;
}

.card-servicos .status{
    border-radius: var(--radius-small);
}

.card-servicos .info-destaque{
    font-size: var(--font-medium);
    margin-bottom: 20px;
}

.info-terciaria{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: var(--font-small);
    color: var(--cor5);
}

.destaque{
    color: var(--dark-cinza);
}

.card-servicos .preco, .card-servicos .ver-detalhes{
    display: none;
}

.card-servicos .info-servico{
    margin-bottom: 10px;
    font-size: var(--font-small);
}

.card-servicos .btns{
    justify-content: space-between;
    display: flex;
    gap: 10px;
}

.btns button {
    padding: 3px;
    border-radius: var(--radius-small);
    cursor: pointer;
    font-size: var(--font-small);
}

.atualizar{
    background-color: var(--cor);
    color: white;
    border: none;
    width: 50%;
}

/* Botão de mais ações */

.acoes {
    position: relative;
    width: 50%;
}

.btn-acoes {
    border: 2px solid var(--cor);
    color: var(--cor);
    background-color: transparent;
    width: 100%;
}

.opcoes-acoes {
    position: absolute;
    right: 0;
    top: 30px;
    min-width: 100%;
    padding: 6px;
    background-color: white;
    border-radius: var(--radius-small);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.acoes.aberto .opcoes-acoes {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.card-servicos:has(.acoes.aberto) {
    z-index: 10;
}

.opcoes-acoes button {
    display: block;
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: var(--radius-small);
    background-color: transparent;
    text-align: left;
    cursor: pointer;
}

.opcoes-acoes button:hover {
    background-color: #00009910;
}

/* Modal "Ver detalhes" */

.modal-detalhes, .modal-editar, .modal-status {
    width: 100%;
    max-height: 80%;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 30px 40px;
    position: relative;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    overflow: auto;
    animation: subirModal 0.3s ease forwards;
}

@keyframes subirModal {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes descerModal {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

.modal-fechando {
    animation: descerModal 0.3s ease forwards;
}

/* barra de rolagem */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: var(--cor3);
    border-radius: 5px;
}

.modal-detalhes h1, .modal-editar h1, .modal-status h1{
    color: var(--title-color);
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    text-align: center;
    margin-bottom: 25px;
}

.modal-status h1 {
    margin-bottom: 0;
}

.modal-status h2 {
    color: var(--cor2);
    font-size: 14px;        
    text-align: center;
}

.status-opcoes {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
    gap: 10px;
    
}

.status-opcoes div {
    background-color: #f6f6f6;
    border: 1px solid #ffffff00;
    padding: 10px 20px;
    border-radius: var(--radius-small);
    color: #747474;
    cursor: pointer;
}

.status-ativo.status-pendente {
    border-color: var(--dark-laranja);
    background-color: #fff2e7;
    color: var(--dark-laranja);
}

.status-ativo.status-andamento {
    border-color: var(--dark-blue);
    background-color: #ebf1fa;
    color: var(--dark-blue);
}

.status-ativo.status-concluido {
    border-color: var(--dark-verde);
    background-color: #e7ffe7;
    color: var(--dark-verde);
}

.confirmar-status {
    width: 100%;
    margin: 25px 0 0 0;
    padding: 8px;
    background-color: var(--cor);
    color: white;
    border: none;
    border-radius: var(--radius-small);
    cursor: pointer;
    font-size: var(--font-medium);
}

/* padrão botão para fechar modal */
.btn-fechar {
    background-color: transparent;
    border: none;
    color: #747474;
    font-size: var(--font-medium);
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.modal-detalhes .informacoes, .detalhes-valor{
    font-size: var(--font-base);
    color: var(--cor2);
    font-weight: 500;
    gap: 3px;
    display: flex;
    flex-direction: column;
}

.informacoes span{
    color: var(--cor5);
}

.detalhes{
    margin: 35px 0 20px;
    gap: 18px;
    display: flex;
    flex-direction: column;
}

.detalhes h2, .detalhes-valor h2{
    font-weight: var(--subtitle-weight);
    font-size: var(--subtitle-size);
}

.detalhes p{
    font-size: var(--font-base);
    color: var(--cor2);
    font-weight: 500;
}

.valor-orcamento{
    margin-top: 15px;
}

.valor-orcamento p{
    color: black;
    font-weight: 600;
    font-size: var(--font-medium);
}

.baixar-pdf{
    color: var(--cor);
    margin-top: 15px;
    text-decoration: underline;
    font-size: var(--font-base);
    cursor: pointer;
}

/* Modal "Editar OS" */

.campos-form{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.campo-form{
    display: flex;
    flex-direction: column;
}

.form-edt-os input {
    border-radius: var(--radius-small);
    padding: var(--spacing-small-btn);
    border: 2px solid var(--cor3);
    color: var(--dark-cinza);
}

.form-edt-os label{
    color: var(--cor5);
    font-size: 13px;
}

.campo-form .adicionar{
    background: transparent;
    color: var(--cor);
    text-decoration: underline;
    border: none;
    display: flex;
    justify-content: flex-end;
    font-size: var(--font-small);
    font-weight: 500;
    cursor: pointer;
}

.input-peca, .input-servico {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #9fc1ff;
    background-color: #f5f9ff;
    border-radius: var(--radius-small);
    padding: var(--spacing-small-btn);
}

.input-peca input, .input-servico input {
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    min-width: 0;
    flex: 1;
    text-overflow: ellipsis;
}

.direita-input {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--font-small);
}

.direita-input i{
    color: red;
    font-size: var(--font-smaller);
    cursor: pointer;
}

/* campo resumo está sendo reutilizado na página de orçamentos */
.campo-resumo .resumo-infos{
    border: 2px solid var(--cor3);
    width: 100%;
    border-radius: var(--radius-small);
    padding: var(--spacing-small);
    background-color: white;
}

.resumo-pecas, .resumo-servicos{
    display: flex;
    justify-content: space-between;
    font-size: var(--font-small);
    color: #7f7f7f;
    font-weight: 500;
}

.linha-resumo{
    height: 1px;
    background-color: var(--cor3);
    margin: 8px 0;
    border: none;   
}

.resumo-total{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: var(--font-small);
}

.resumo-btns{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.resumo-btns button{
    background-color: transparent;
    border-radius: var(--radius-small);
    padding: var(--spacing-small-btn);
    width: 100%;
    font-size: var(--font-small);
    cursor: pointer;
    font-size: var(--font-small);
}

.resumo-btns .resumo-cancelar{
    color: #b64f4f;
    font-weight: 600;
    border: 2px solid #b64f4f;
}

.resumo-btns .resumo-confirmar{
    background-color: var(--cor);
    border: none;
    color: white;
}

/* Botão ver mais */
.servicos .mostrarMais {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.mostrarMais button {    
    cursor: pointer;
    border: none;
    color: var(--cor);
    background: none;
}

.mostrarMais button:hover {
    text-decoration: underline;
}

/* Modo escuro */

    body.dark .ordem-filtro i{
        color: var(--cor2);
    }

    body.dark .btn-filtro .opcao{
        border: 2px solid var(--dark-cinza);
    }

    body.dark .ordem-opcoes,
    body.dark .opcoes-acoes, 
    body.dark .modal .linha,
    body.dark .modal input{
        background-color: var(--dark-cinza);
    }

    body.dark .modal .input-servico,
    body.dark .modal .input-peca{
        background-color: var(--dark-cinza);
        border: 2px solid var(--cor5);
    }

    body.dark .campo-diag{
        border: none;
    }

    body.dark .direita-input .valor{
        background: transparent;
        color: var(--dark-cinza-claro);
    }

    body.dark .card-servicos .destaque,
    body.dark .card-servicos span,
    body.dark .ordem-opcoes button,
    body.dark .opcoes-acoes button,
    body.dark .modal-status h2{
        color: var(--dark-cinza-claro);
    }

    body.dark .ordem-opcoes button:hover, 
    body.dark .opcoes-acoes button:hover{
        background-color: var(--dark-hover);
    }

    body.dark .atualizar, 
    body.dark .valor-orcamento p,
    body.dark .resumo-total,
    body.dark .confirmar-status,
    body.dark .modal h1{
        color: white;
    }

    body.dark .modal{
        background-color: var(--dark-cinza-escuro);
        border-top: 5px solid var(--dark-cinza-escuro);
        border-bottom: 5px solid var(--dark-cinza-escuro);
    }

    body.dark .baixar-pdf,
    body.dark .adicionar{
        color: var(--dark-blue);
        font-weight: 400;
    }

    body.dark .resumo-infos{
        border: 2px solid var(--cor5);
    }

    body.dark .linha-resumo{
        background-color: var(--cor5);
    }

    body.dark .resumo-cancelar{
        color: #cd2929;
        border: 2px solid #cd2929;
    }

    body.dark ::-webkit-scrollbar-thumb {
        background: var(--dark-cinza);
    }

    body.dark .status-opcoes div{
        color: var(--cor5);
        background-color: var(--dark-cinza);
    }

    body.dark .status-ativo.status-pendente {
        color: var(--dark-laranja);
    }

    body.dark .status-ativo.status-andamento {
        color: var(--dark-blue);
    }

    body.dark .status-ativo.status-concluido {
        color: var(--dark-verde);
    }

/* modal detalhes do serviço - isabella */

.servico-detalhes {
    position: relative;
    background-color: white;
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius);
    padding: var(--spacing-small);
    gap: 10px;
}

.btn-fechar-servico {
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    font-size: var(--font-medium);
    right: var(--spacing-small);
}

.detalhes-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid var(--cor6);
    border-radius: 10px;
}

.servico-detalhes div .small {
    font-size: var(--font-smaller);
    color: #b4b4b4;
}

.servico-detalhes div span {
    font-size: var(--font-base);
}

.servico-detalhes .mudarStatus {
    background-color: var(--cor);
    color: white;
    border: none;
    border-radius: 16px;
    padding: 6px;
    cursor: pointer;
}

/* ===== página de configuração -> Alex / Gabrielle ===== */

/*Titulo*/
.configuracao > h1{
    display: flex;
    color: var(--cor);
    font-size: 1.2em;
    margin: 0 0 15px 0;
}

.modo-escuro {
    display: flex;
    font-size: 12px;
    align-items: center;
    color: var(--cor5);
    gap: 20px;
}

.conta-editar{
    display: flex;
    justify-content: space-between;
}

.conta-editar button{
    border: none;
    color: var(--cor);
    font-weight: 650;
    margin-top: 10px;
    background: transparent;
}

/* switch */
.switch {
    position: relative;
    width: 50px;
    height: 20px;
    background-color: var(--cor3);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.switch .indicador{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transform: scale(.8);
    position: absolute;
    left: 0;
    transition: .4s;
}

.switch.dark{
    background-color: var(--dark-blue);
    transition: .5s;
}

.configuracao h2{
    font-size: 14px;
    color: var(--dark-bg);
    margin-top: 10px;
}

/*Campo para digitar*/
.configuracao .campo{
    width: 100%;
    border: none;
    border-radius: 7px;
    background-color: var(--cor6);
    padding: 13px;
    font-size: 12px;
    color: var(--cor5);
}

/*Texto*/
.configuracao .texto{
    font-size: 11px;
    margin-bottom: 5px;
    color: var(--cor5);
}

.sair a {
    font-size: 12px;
    color: var(--cor);
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: 1.5px solid var(--cor);
    border-radius: 10px;
}

.sair{
    margin-top: 15px;
}

/* modo escuro */
.switch.dark .indicador{
    left: 30px; 
}

body{
    transition: .5s;
}

body.dark{
    background-color: var(--dark-bg);
    transition: .5s;
}

body.dark .configuracao h2{
    color: white;
}

body.dark h1{
    color: var(--dark-blue);
}

body.dark .configuracao input{
    background-color: var(--dark-cinza-escuro);
}

body.dark .menuInferior{
    background-color: var(--dark-cinza-escuro);
    box-shadow: 0 1px 15px 1px #080808;
}

body.dark .texto, body.dark .menuInferior i{
    color: var(--dark-cinza-claro);
}

body.dark button{
    color: var(--dark-blue);
}

body.dark .sair i, body.dark .sair a, body.dark .nav-bar i{
    color: var(--dark-blue);
}

body.dark .sair a{
    border: 1.5px solid var(--dark-blue);
}

body .campo.editando {
    background-color: white;
    transition: .6s;
}

body.dark .campo.editando {
    background-color: var(--dark-cinza);
    color: var(--dark-cinza-claro);
}

body.dark .campo.editando:focus {
    border: 2px solid var(--dark-cinza-borda);
}

body.dark .nav-bar {
    box-shadow: 0 1px 15px 1px #080808;
}

.sidebar {
    display: none;
}


/* Tablet */

@media (min-width:768px) {

    .menuInferior {
        display: none;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .cliente-card {
        margin: 0;
    }

    .ordem-filtro{
        position: static;
    }

    .ordem-filtro.ordem-clientes {
        margin: 4px 0 16px 0;
    }

    .card-servicos{
        margin: 0;
        width: 100%;
    }

    div.filtro{
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        margin-bottom: 8px;
        overflow: visible;
        z-index: 2;
    }

    .modal-detalhes, .modal-editar, .modal-status{
        max-width: 500px;
        animation: none;
        transform: none;
        border-radius: var(--radius-small);
    }

    .overlay {
        align-items: center;
    }

}

/* Desktop */

@media (min-width:1024px) {

    #menuContainer, .add{
        display: none;
    }

    body {
        display: flex;
        width: 100%;
    }

    main {
        width: 100%;        
        padding: 50px;
        margin: 0px;
    }

    /* ===== Menu lateral ===== */
    
    .sidebar {
        display: flex;
        background-color: white;
        width: 80px;
        height: 100vh;
        overflow: hidden;
        flex-direction: column;
        position: sticky;
        top: 0;
        z-index: 1;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        justify-content: space-between;
        padding: 30px 16px 40px 16px;
        transition: .5s;
    }

    .sidebar.open {
        width: 280px;
    }

    .sidebar span {
        opacity: 0;
        visibility: hidden;
        white-space: nowrap;
        transition: opacity 0.2s ease, visibility 0.2s ease;
    }

    .sidebar.open span {
        opacity: 1;
        visibility: visible;
    }

    .sidebar a {
        text-decoration: none;
        padding: 12px;
        border-radius: var(--radius);
        display: flex;
        align-items: center;
        gap: 12px;
        color: var(--cor5);
    }

    .sidebar a i {
        min-width: 23px;
    }

    .sidebar-btn i{
        color: var(--cor5);
        font-size: 24px;
    }

    body.dark .sidebar {
        background-color:var(--dark-cinza-escuro);
    }

    .sidebar-btn {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding: 9px;
        cursor: pointer;
    }

    .sidebar .links, .b-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    body.dark .sidebar a, body.dark .sidebar-btn i {
        color: var(--dark-cinza-claro);
    }

    .sidebar a:hover {
        color: var(--cor);
        background-color: #00009910;
    }

    body.dark .sidebar a:hover {
        color: var(--dark-blue);
        background-color: #afc7ff15;
    }

    .sidebar a.atual {
        background-color: var(--cor);
        color: white;
    }

    body.dark .sidebar a.atual {
        background-color: var(--dark-blue);
        color: white;
    }

    /* ===== Página de serviços ===== */

    .buscar-add{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn-novo {
        cursor: pointer;
        border: none;
        display: block;
        text-decoration: none;
        width: 200px;
        background-color: var(--cor);
        color: white;
        padding: var(--spacing-small);
        border-radius: var(--radius-small);
        text-align: center;
        font-size: var(--font-base);
    }

    div.pesquisa > input{
        width: 98%;
    }

    /* cards */

    .cards{
        grid-template-columns: repeat(2, 1fr);
    }

}

/* Desktop-large */

@media (min-width:1340px) {

    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .cards-clientes {
        grid-template-columns: repeat(4, 1fr);
    }

}