/*importa a fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
    scroll-behavior: smooth;
}

body{
    background-color: #f1f1f1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    user-select: none; /* impede a seleção */
    -webkit-user-select: none; /* garante que funcione em outros navegadores */
    -webkit-tap-highlight-color: transparent; /*tira o destque azul ao tocar nos elementos*/
}

/* landing index */
:root {
    --header-img: 50px;
    --header-font: 12px;
    --footer-img: 40px;

    --main-gap: 30px;
    --main-padding: 24px;

    --banner-height: 132px;
    --banner-text-width: 30px;
    --banner-h1-text: 20px;
    --banner-h2-text: 18px;

    --botoes-font: 12px;

    --sections-h1: 14px;
    --sobre-font: 12px;
    --contato-font: 12px;

    --msg: 10px;
}

/*Menu*/
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    background-color: #f1f1f1; 
    padding: 24px;
    /* box-shadow: 0 1px 6px #98989840; */
}

nav {
    display: flex;
    gap: 16px; /*espaçamento entre os links do menu*/
    font-size: var(--header-font);    
    margin-left: auto; /*alinha os links a direita do menu*/ 
}

nav a {
    text-decoration: none;
    color: #1d5cb9;
    font-weight: 500;
    position: relative; /* pra animação */
    transition: color 0.3s ease;
    font-size: 16px;
}

nav a:hover {
    color: #1954ac;
}

/* animação da linha menu -> Nicole */
nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: #2768c9;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

.logo-menu {
    width: var(--header-img);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--main-gap);
    padding: var(--main-padding);
}

/*Banner*/
.banner{
    display: flex;
    flex-direction: column;    
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: var(--banner-height);
    gap: 20px;
}

.main-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.textos-titulo{
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.main-text button {
    background-color: #1d5cb9;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 8px;
    width: 100%;
}

.main-text h1{   
    font-weight: 600;
    /* font-size: var(--banner-h1-text); */
}

.main-text h2 {
    color: #2c2c2c;
    font-weight: 500;
    font-size: 16px;
}

.title-landing,
.body-landing{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.body-landing{
    gap: 30px;
}

.formLogin {
    width: 90%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    /* border: 1px solid rgb(214, 214, 214); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formLogin .formOption {
    display: flex;
    justify-content: space-around;
}

.formOption span {
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    font-weight: 500;
    border-bottom: 1px solid rgb(167, 167, 167);
}

.formLogin .campo {
    display: flex;
    flex-direction: column;
}

.formLogin .campo input, .mensagem {
    background-color: #f1f1f1;
    border: 1px solid rgb(190, 190, 190);
    padding: 12px;
    border-radius: 6px;
}

.formLogin .campo label {
    color: rgb(71, 71, 71);
}

.formLogin button {
    padding: 6px;
    border-radius: 6px;
    border: none;
    background-color: #1d5cb9;
    color: white;
    font-weight: 500;
}

.features {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.mensagem{
    resize: none;
    height: 100px;
}

/* .features div {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    gap: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */
.features > div {
    background-color: white;
    display: flex;
    /* width: 100%; */
    padding: 6px;
    border-radius: 8px;
    gap: 12px;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.features .icon {
    background-color: #1d5bb91e;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    font-size: 20px;
    color: #1d5cb9;    
}

.features div h1 {
    font-size: 18px;
}

.features div p {
    font-size: 12px;
    color: rgb(56, 56, 56);
}


.sobre-nos h1, .div-recursos > h1, .contato h1 {
    font-size: 18px;
    font-weight: 500;
    color: rgb(165, 165, 165);
    /* margin: 6px 0 10px 0; */
}
.sobre-nos p {
    margin-top: 8px;
    color: #2e2e2e;
    text-align: justify;
    font-size: 16px;
}


.div-recursos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.recursos {
    background-color: white;
    display: flex;
    gap: 10px;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.cards-recursos{
    display: flex;
    gap: 14px;
    flex-direction: column;
}

.recursos .icon {
    color: #1d5cb9;
    padding-right: 10px;
    font-size: 20px;
}

.recursos .text h1{
    font-size: 18px;
    font-weight: 600;
}
.recursos .text p{
    font-size: 12px;
}

.sobre-nos{
    margin-top: 20px;
}

.contato {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formContato {
    background-color: white;
    padding: 14px;
    border-radius: 8px;    
}

.formContato .campo {
    display: flex;
    flex-direction: column;
}

.formContato .campo input, .mensagem {
    background-color: #f1f1f1;
    border: 1px solid rgb(190, 190, 190);
    padding: 6px;
    border-radius: 6px;
}

.formContato .campo label {
    color: rgb(71, 71, 71);
}

.formContato button {
    padding: 6px;
    border-radius: 6px;
    border: none;
    background-color: #1d5cb9;
    color: white;
    font-weight: 500;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: #1954ac;
}





.banner img{
    border-radius: 14px 0 0 14px;
    position: absolute;
    right: -70px;
    height: 100%;
    transition: 0.3s ease;
    width: auto;
}

/*Texto descritivo do sistema*/
.headline{
    background-color: white;
    border-radius: 12px;
    padding: 24px;
    text-align: center;
}

.headline h1 {
    font-size: 12px;
    font-weight: 600;
}

.headline span {
    font-weight: 700;
}

/*Botões de acesso*/
.botoes-acesso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    width: 100%;
}

.botoes-acesso * {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: var(--botoes-font);
    border: none;
    background-color: white;    
    border-radius: 12px;
    padding: 16px;
    box-shadow: 2px 2px 2px #e0e0e0;
}

.botoes-acesso button {
    color: #0002F1;
    font-weight: 700;
}

.txt-sobre {
    width: 100%;
    display: flex;
    padding: 25px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.txt-sobre img {
    display: none;
    width: var(--sobre-img-width);
    border-radius: 10px;
}

.msg { /*Campo para escrever a mensagem*/
    height: 120px;
    resize: none;
    margin: 6px 0;
}

#mensagem { /*Mensagem: "Mensagem enviada!"*/
    margin-top: 10px;
    color: #0002f1;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: var(--msg);
    text-align: center;
}

#mensagem.mostrar {
    opacity: 1;
}

/* Rodapé */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 -1px 6px #98989840;
    padding: 10px;
}

footer p {
    font-size: 12px;
    color: rgb(121, 121, 121);
}

footer img {
    width: var(--footer-img);
}

/*Card do login*/
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px); /*Desfoque*/
    background-color: #0000004d;
    display: none; /*começa escondido*/
    justify-content: center;
    align-items: center;
}

.login-card{
    background: #f1f1f1;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 270px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    position: relative;
}

.login-card img{
    display: block;
    margin: 0 auto; /*centraliza*/
}

.logo-login{
    width: 35px;
}

.login-card h2{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

/*Esconder senha*/
.container-senha{
    position: relative;
    width: 100%;
}

.container-senha input{
    width: 100%;
    padding-right: 40px;
}

#toggleSenha{
    position: absolute;
    right: 10px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%); /*Alinha verticalmente*/
    font-size: 14px;
}

.esqueceu-senha{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.login-card a{
    font-size: 10px;
    text-decoration: none;
    color: #0002f1;
}

.login-card input{
    padding: 10px;
    border-radius: 10px;
    border: 0;
}

.login-card button{
    background-color: #0002f1;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    display: block;
    margin: 0 auto; /*Centraliza*/
    margin-top: 15px;
    border: 0;
}

.fechar{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}

.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.cadastro p {
    font-size: 10px;
    margin: 0;
}

/* ===== página de cadastro -> Nicole ===== */
main .container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 14px;
    width: 100%;
    max-width: 350px;
}

main .container h1 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

main form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 12px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
}

main form input:focus {
    outline: 1px solid #D5D5D5
}

main form label {
    color: #72777f;
    font-size: 12px;
    text-align: left;
}

main form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #000199;
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.desktop-img,
.tem-conta,
.img-sobre{
    display: none;
}

/* Tablet */
@media (min-width: 768px) {
    .login-card{
        width: 100%;
        max-width: 500px;
        padding: 30px;
    }

    .logo-login{
        width: 50px;
    }

    .olho{
        width: 40px;
        margin: 5px;
    }

    .olho img{
        width: 35px;
    }

    .login-card h2{
        width: 100%;
        font-size: 25px;
    }

    .login-card input{
        padding: 20px;
        font-size: 20px;
        margin-top: 10px;
    }

    .login-card button{
        font-size: 20px;
    }

    .login-card p, 
    .login-card a{
        font-size: 15px;
    }

    .fechar{
        font-size: 40px;
    }
}

/* Desktop */
@media (min-width: 1024px) {

    main{
        padding: 0;
    }

    .telas-img{
        display: none;
    }

    .main-text{
        height: calc(100vh - 150px);
        width: 100%;
        flex-direction: row;
        align-items: stretch;
        position: relative;
    }

    .title-landing{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        flex: 1;
    }

    .textos-titulo{
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .title-landing h1{
        font-size: 38px;
        font-weight: 500;
    }

    .title-landing h2 {
        font-size: 16px;
    }

    .body-landing{
        padding: 100px;
    }

    .img-banner {
        position: relative;
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
    }

    .desktop-img {
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }

    .tem-conta{
        font-weight: 500;
        display: block;
        font-size: 18px;
        font-weight: 500;
    }

    .tem-conta a{
        text-decoration: none;
        color: #1d5cb9;
        margin-left: 5px;
        font-weight: 600;
    }

    .main-text button {
        padding: 8px;
        font-size: 18px;
    }

    .links-menu a{
        font-size: 20px;
        margin-right: 20px;
    }

    .logo-menu{
        width: 60px;
        margin-left: 20px;
    }

    .features{
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
    }

    .features > div{
        padding: 20px;
        width: 33%;
        font-size: 18px;
        font-weight: 500;
    }

    .features .icon i{
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }

    .features .icon{
        margin-right: 12px;
    }

    .body-landing h1{
        font-size: 23px;
        margin-top: 25px;
    }

    .body-landing {
        width: 100%;
    }

    .sobre-nos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 60px;
        margin-top: 90px;
        align-items: center;
    }

    .txt-sobre{
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;
        width: 50%;
        padding: 40px;
    }

    .txt-sobre h1{
        margin-top: 0;
    }

    .txt-sobre p{
        font-size: 18px;
    }

    .div-img-sobre{
        display: flex;
        flex: 1;
        justify-content: center;
    }

    .img-sobre{
        display: block;
        width: 100%;
    }

    .div-recursos{
        margin-top: 40px;
    }

    .recursos{
        width: 31%;
        padding: 25px;
    }

    .recursos .text .titulo{
        display: flex;
        align-items: center;
    }

    .recursos .text h1 {
        font-size: 20px;
        margin-top: 0;
    }

    .recursos .text p {
        font-size: 16px;
        margin-top: 10px;
    }

    .cards-recursos{
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 12px;
    }

    .contato{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .formContato{
        width: 50%;
        padding: 40px;
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .formContato .campo label{
        font-size: 15px;
    }

    .formContato button {
        font-size: 20px;
    }

    .formContato input, .formContato textarea{
        font-size: 16px;
    }

    .formContato .campo input, .mensagem {
        padding: 12px;
    }

}

@media (min-width: 1250px) {
    .title-landing h1{
        font-size: 42px;
    }

    .title-landing h2 {
        font-size: 20px;
    }

    .tem-conta{
        font-size: 20px;
    }

    .main-text button {
        font-size: 22px;
    }

    .txt-sobre p{
        font-size: 20px;
    }

    .img-sobre{
        display: block;
        width: 85%;
    }
}

@media (min-width: 1570px) {
    .title-landing h1{
        font-size: 48px;
    }

    .title-landing h2 {
        font-size: 22px;
    }

    .tem-conta{
        font-size: 22px;
    }

    .main-text button {
        font-size: 25px;
    }

    .txt-sobre h1{
        font-size: 26px;
    }

    .txt-sobre p{
        font-size: 23px;
    }

    .img-sobre{
        display: block;
        width: 75%;
    }
}

/* Página de redefinir senha - Gabrielle */

.voltar {
    color: #0002F1;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
}

.container-redef{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.redef-senha{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    gap: 20px;
}

.redef-senha h1{
    font-size: 22px;
}

.redef-senha p{
    font-size: 17px;
    text-align: center;
}

.redef-senha input{
    padding: 12px;
    border-radius: 15px;
    border: 2px solid #D5D5D5;
    width: 100%;
    font-size: 16px;
}

.redef-senha button{
    background-color: #000199;
    color: white;
    border-radius: 15px;
    padding: 12px;
    border: none;
}