* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f1f1f1;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #f1f1f1; 
    border-bottom: 2px solid #d5d5d5; 
    padding: 10px 40px;
}

.logo {
    height: 40px;
}


nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #0002f1;
    font-size: 14px;
    position: relative;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #162199;
}

/* animação da linha menu */
nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: #1524c6;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    width: 100%;
    max-width: 350px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.209);
}

.container h1 {
    margin-bottom: 30px;
    font-size: 22px;
}


form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 12px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
}


button {
    width: 100%;
    padding: 12px;
    background-color: #000199;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #0808cb;
}

/* rodape */
footer {
    text-align: center;
    padding: 8px;
    background-color: #f1f1f1;
    border-top: 2px solid #d5d5d5; 
    margin-top: 15px;
}

.logo-footer {
    height: 32px;
}

/* parte responsiva */
@media (max-width: 600px) {

    header {
        flex-direction: column;
        gap: 10px;
    }

    nav a {
        margin: 0 10px;
    }

    .container {
        padding: 25px;
    }

    .container h1 {
        font-size: 20px;
    }
}