/*importa a fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 

}

body{
    background-color: #f1f1f1;
}
/*Menu*/

nav{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 10px;
}

.links-menu{
    display: flex;
    gap: 15px; /*espaçamento entre os links do menu*/
    font-size: 10px;
    margin: 13px 20px;
    margin-left: auto; /*alinha os links a direita do menu*/ 
}

nav a{
    text-decoration: none;
    color: #0002f1;
    font-weight: 500;
}

/*Linha abaixo do menu*/

.linha{
    width: 100%;
    height: 1px;
    background-color: #d5d5d5;
    margin-top: 10px;
}

/*Banner*/

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    margin-top: 30px;
}

.banner h1{
    color: #0002f1;
    font-weight: 350;
    font-size: 20px;
    padding: 15px;
}

.banner img{
    border-top-left-radius: 15px;
    border-end-start-radius: 15px;
}

/*Texto descritivo do sistema*/

.headline{
    background-color: white;
    margin: 30px;
    font-size: 6px;
    border-radius: 5px;
    padding: 20px;
}

/*Botões de acesso*/

.botoes-acesso{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.botoes-acesso button{
    background-color: white;
    border: 0px;
    border-radius: 5px;
    padding: 15px;
    width: 140px;
    font-size: 10px;
    box-shadow: 2px 2px 2px #e0e0e0;
}

/*Sobre nós*/

.sobre-nos{
    display: flex;
    justify-content: center; /*Alinha no centro horizontalmente*/
    flex-direction: column;
    margin-top: 30px;
    font-size: 15px;
}

.sobre-nos h1{
    text-align: center; /*Alinha no centro horizontalmente*/
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.sobre-nos p{
    text-align: justify;
    background-color: white;
    padding: 17px;
    width: 300px;
    margin: 0 auto; /*Alinha no centro horizontalmente*/
    border-radius: 5px;
    font-size: 12px;
}

/*Contato*/

.contato{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.contato h1{
    text-align: center;
    font-size: 14px;
}

.contato input, .contato button, .msg{
    background-color: white;
    width: 300px;
    margin: 0 auto;
    border: 0;
    border-radius: 5px;
    padding: 12px;
    margin-top: 18px;
    font-size: 10px;
}

.msg{ /*Campo para escrever a mensagem*/
    height: 120px;
    resize: none;
}

.contato button{
    box-shadow: 2px 2px 2px #e0e0e0;
}

#mensagem { /*Mensagem: "Mensgem enviada!"*/
    margin-top: 10px;
    color: #0002f1;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 10px;
    text-align: center;
}

#mensagem.mostrar {
    opacity: 1;
}

/*Rodapé*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

footer img{
    margin: 8px;
}

/*Card do login*/

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px); /*Desfoque*/
    background-color: #0000004d;
    display: none; /*começa escondido*/
    justify-content: center;
    align-items: center;
}

.login-card{
    background: #f1f1f1;
    padding: 20px;
    border-radius: 15px;
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-card img{
    display: block;
    margin: 0 auto; /*centraliza*/
}

.login-card h2{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.login-card{
    text-align: center;
    position: relative;
}

.esqueceu-senha{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.login-card a{
    font-size: 10px;
    text-decoration: none;
    color: #0002f1;
}

.login-card input{
    padding: 10px;
    border-radius: 10px;
    border: 0;
}

.login-card button{
    background-color: #0002f1;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    display: block;
    margin: 0 auto; /*Centraliza*/
    margin-top: 15px;
    border: 0;
}

.fechar{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}

.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.cadastro p {
    font-size: 10px;
    margin: 0;
}
